<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<!-- Mesh Files -->
<xacro:property name="felis_base_mesh" value="models/robots/felis/felisbody.dae" />
<xacro:property name="felis_spool_mesh" value="models/robots/felis/felislegspool.dae" />
<xacro:property name="felis_linkA_mesh" value="models/robots/felis/felislinkA.dae" />
<xacro:property name="felis_linkB_mesh" value="models/robots/felis/felislinkB.dae" />
<xacro:property name="felis_linkC_mesh" value="models/robots/felis/felislinkC.dae" />
<xacro:property name="felis_linkD_mesh" value="models/robots/felis/felislinkD.dae" />
<xacro:property name="felis_linkE_mesh" value="models/robots/felis/felislinkE.dae" />
<xacro:property name="felis_linkF_mesh" value="models/robots/felis/felislinkF.dae" />
<!-- Base/Cage Data -->
<xacro:property name="felis_z" value="0" />
<xacro:property name="felis_xyz" value="0 0 ${felis_z}" />
<xacro:property name="felis_rpy" value="0 0 0" />
<xacro:property name="felis_baselink_cg" value="0 0 0" />
<!-- Spool Data -->
<xacro:property name="felis_spool_xyz" value="0 0 0" />
<xacro:property name="felis_spool_cg" value="0 0 0" />
<xacro:property name="felis_spool_joint1_xyz" value="0.04382 0.06030 0.02956" />
<xacro:property name="felis_spool_joint1_rpy" value="-1.570796327 0 0" />
<xacro:property name="felis_spool_joint2_xyz" value="0.04382 -0.06030 0.02956" />
<xacro:property name="felis_spool_joint2_rpy" value="1.570796327 -1.570796327 0" />
<xacro:property name="felis_spool_joint3_xyz" value="-0.12118 0.06840 0.02956" />
<xacro:property name="felis_spool_joint3_rpy" value="-1.570796327 0 0" />
<xacro:property name="felis_spool_joint4_xyz" value="-0.12118 -0.06840 0.02956" />
<xacro:property name="felis_spool_joint4_rpy" value="1.570796327 -1.570796327 0" />
<!-- Link A Data -->
<xacro:property name="felis_linkA_xyz" value="0 0 0" />
<xacro:property name="felis_linkA_cg" value="0 0 0" />
<xacro:property name="felis_linkA_joint1_xyz" value="0.06401 0.06030 0.00990" />
<xacro:property name="felis_linkA_joint1_rpy" value="-1.570796327 2.35619449 0" />
<xacro:property name="felis_linkA_joint2_xyz" value="0 1 0" />
<xacro:property name="felis_linkA_joint2_rpy" value="0 3.14159 3.14159" />
<xacro:property name="felis_linkA_joint3_xyz" value="0 1 0" />
<xacro:property name="felis_linkA_joint3_rpy" value="0 3.14159 3.14159" />
<xacro:property name="felis_linkA_joint4_xyz" value="0 1 0" />
<xacro:property name="felis_linkA_joint4_rpy" value="0 3.14159 3.14159" />
<!-- Link B Data -->
<xacro:property name="felis_linkB_xyz" value="0 0 0" />
<xacro:property name="felis_linkB_rpy" value="0 0 0" />
<xacro:property name="felis_linkB_cg" value="0 0 0" />
<xacro:property name="felis_linkB_joint_xyz" value="1.5 0 0" />
<!-- Link C Data -->
<xacro:property name="felis_linkC_xyz" value="0 0 0" />
<xacro:property name="felis_linkC_rpy" value="0 0 0" />
<xacro:property name="felis_linkC_cg" value="0 0 0" />
<!-- Link D Data -->
<xacro:property name="felis_linkD_xyz" value="0 0 0" />
<xacro:property name="felis_linkD_rpy" value="0 0 0" />
<xacro:property name="felis_linkD_cg" value="0 0 0" />
<!-- Link E Data -->
<xacro:property name="felis_linkE_xyz" value="0 0 0" />
<xacro:property name="felis_linkE_rpy" value="0 0 0" />
<xacro:property name="felis_linkE_cg" value="0 0 0" />
<!-- Link F Data -->
<xacro:property name="felis_linkF_xyz" value="0 0 0" />
<xacro:property name="felis_linkF_rpy" value="0 0 0" />
<xacro:property name="felis_linkF_cg" value="0 0 0" />
<!-- Joints Constraints -->
<xacro:property name="spool_lower_angle" value="0" />
<xacro:property name="spool_upper_angle" value="1.0" />
<xacro:property name="quadleg_jointA_lower_angle"  value="0.0" />
<xacro:property name="quadleg_jointA_upper_angle"  value="1.4" />
<xacro:property name="quadleg_jointB_lower_angle"  value="0.0" />
<xacro:property name="quadleg_jointB_upper_angle"  value="1.4" />
<!-- Mass -->
<xacro:property name="felis_baselink_mass" value="1.5" />
<xacro:property name="felis_spool_mass" value="0.2" />
<xacro:property name="felis_linkA_mass" value="0.2" />
<xacro:property name="felis_linkB_mass" value="0.2" />
<xacro:property name="felis_linkC_mass" value="0.2" />
<xacro:property name="felis_linkD_mass" value="0.2" />
<xacro:property name="felis_linkE_mass" value="0.2" />
<xacro:property name="felis_linkF_mass" value="0.2" />
<!-- Inertial parameters -->
<xacro:property name="felis_baselink_ixx" value="0.1" />
<xacro:property name="felis_baselink_iyy" value="0.1" />
<xacro:property name="felis_baselink_izz" value="0.1" />
<xacro:property name="felis_baselink_ixy" value="0.1" />
<xacro:property name="felis_baselink_ixz" value="0.1" />
<xacro:property name="felis_baselink_iyz" value="0.1" />
<xacro:property name="felis_spool_ixx" value="0.1" />
<xacro:property name="felis_spool_iyy" value="0.1" />
<xacro:property name="felis_spool_izz" value="0.1" />
<xacro:property name="felis_spool_ixy" value="0.1" />
<xacro:property name="felis_spool_ixz" value="0.1" />
<xacro:property name="felis_spool_iyz" value="0.1" />
<xacro:property name="felis_linkA_ixx" value="0.1" />
<xacro:property name="felis_linkA_iyy" value="0.1" />
<xacro:property name="felis_linkA_izz" value="0.1" />
<xacro:property name="felis_linkA_ixy" value="0.1" />
<xacro:property name="felis_linkA_ixz" value="0.1" />
<xacro:property name="felis_linkA_iyz" value="0.1" />
<xacro:property name="felis_linkB_ixx" value="0.1" />
<xacro:property name="felis_linkB_iyy" value="0.1" />
<xacro:property name="felis_linkB_izz" value="0.1" />
<xacro:property name="felis_linkB_ixy" value="0.1" />
<xacro:property name="felis_linkB_ixz" value="0.1" />
<xacro:property name="felis_linkB_iyz" value="0.1" />
<xacro:property name="felis_linkC_ixx" value="0.1" />
<xacro:property name="felis_linkC_iyy" value="0.1" />
<xacro:property name="felis_linkC_izz" value="0.1" />
<xacro:property name="felis_linkC_ixy" value="0.1" />
<xacro:property name="felis_linkC_ixz" value="0.1" />
<xacro:property name="felis_linkC_iyz" value="0.1" />
<xacro:property name="felis_linkD_ixx" value="0.1" />
<xacro:property name="felis_linkD_iyy" value="0.1" />
<xacro:property name="felis_linkD_izz" value="0.1" />
<xacro:property name="felis_linkD_ixy" value="0.1" />
<xacro:property name="felis_linkD_ixz" value="0.1" />
<xacro:property name="felis_linkD_iyz" value="0.1" />
<xacro:property name="felis_linkE_ixx" value="0.1" />
<xacro:property name="felis_linkE_iyy" value="0.1" />
<xacro:property name="felis_linkE_izz" value="0.1" />
<xacro:property name="felis_linkE_ixy" value="0.1" />
<xacro:property name="felis_linkE_ixz" value="0.1" />
<xacro:property name="felis_linkE_iyz" value="0.1" />
<xacro:property name="felis_linkF_ixx" value="0.1" />
<xacro:property name="felis_linkF_iyy" value="0.1" />
<xacro:property name="felis_linkF_izz" value="0.1" />
<xacro:property name="felis_linkF_ixy" value="0.1" />
<xacro:property name="felis_linkF_ixz" value="0.1" />
<xacro:property name="felis_linkF_iyz" value="0.1" />
<!-- Simulation Camera parameters -->

<!-- Misc. Sensors Parameters -->

<!-- Friction parameters -->
<xacro:property name="spool_joint_effort" value="100" />
<xacro:property name="spool_joint_velocity" value="50" />
<xacro:property name="quadleg_joint_effort" value="100" />
<xacro:property name="quadleg_joint_velocity" value="50" />


<!-- SDF Specific parameters -->

</robot>
