<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"  name="pioneer3at">
    <xacro:include filename="$(find riserobotdb)/defs/robots/p3at/p3at.urdf.xacro" />
    <!-- Chassis -->
    <xacro:p3at_chasis />
    <!-- Wheels -->
    <xacro:p3at_wheels suffix="left" reflect="1" />
    <xacro:p3at_wheels suffix="right" reflect="-1" />
</robot>
