<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<!-- Mesh Files -->
<xacro:property name="mechcat_base_mesh" value="models/robots/mechcat1/mcatbody.dae" />
<xacro:property name="mechcat_spool_mesh" value="models/robots/mechcat1/mcatlegspool.dae" />
<xacro:property name="mechcat_linkA" value="models/robots/mechcat1/mcatlinkA.dae" />
<xacro:property name="mechcat_linkB" value="models/robots/mechcat1/mcatlinkB.dae" />
<xacro:property name="mechcat_linkC" value="models/robots/mechcat1/mcatlinkC.dae" />
<xacro:property name="mechcat_linkD" value="models/robots/mechcat1/mcatlinkD.dae" />
<xacro:property name="mechcat_linkE" value="models/robots/mechcat1/mcatlinkE.dae" />
<xacro:property name="mechcat_linkF" value="models/robots/mechcat1/mcatlinkF.dae" />
<!-- Base/Cage Data -->


<!-- Spool Data -->


<!-- Link A Data -->

<!-- Link B Data -->

<!-- Link C Data -->

<!-- Link D Data -->

<!-- Link E Data -->

<!-- Link F Data -->

<!-- Mass and Inertia parameters -->

<!-- Simulation Camera parameters -->

<!-- Misc. Sensors Parameters -->

<!-- Friction parameters -->


<!-- SDF Specific parameters -->

</robot>
