<?xml version="1.0" ?>
<sdf version="1.5" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:include filename="$(find riserobotdb)/defs/robots/risewheelchair/risewheelchair.common.sdf.xacro" />
	<model name="risewheelchair">
		<static>0</static>
		<pose>0 0 0 0 0 0</pose>
		<!-- Chassis -->
			<link name="base_link">
				<xacro:link_def_extra />
				<pose>${wheelchair_xyz} ${wheelchair_rpy}</pose>
				<xacro:sdf_inertial _mass="${wheelchair_mass + wheelchair_sicklms_mass}" _cg="${wheelchair_cg}" 
					_ixx="${wheelchair_ixx}" _iyy="${wheelchair_iyy}" _izz="${wheelchair_izz}" _ixy="${wheelchair_ixy}" 
					_ixz="${wheelchair_ixz}" _iyz="${wheelchair_iyz}" />
				<visual name="base_link_visual">
					<pose>0 0 0 0 0 0</pose>
					<xacro:sdf_mesh _filename="${wheelchair_base_mesh}" />
				</visual>
				<collision name="base_link_collision">
					<pose>0 0 0 0 0 0</pose>
					<xacro:sdf_mesh _filename="${wheelchair_base_mesh}" />
				</collision>	
				<!-- Sick LMS 200 -->
				<xacro:sicklms200_laser robot_name="$(arg prefix)" id="0" 
					frame_pose="${wheelchair_sicklms_frame}" sensor_pose="${wheelchair_sicklms_sensor}"/>
			</link>
		<!-- Caster Wheels -->
			<xacro:caster_wheel suffix="left" geom_rpy="${caster_left_rpy}" joint_xyz="${caster_left_joint_xyz}" />
			<xacro:caster_wheel suffix="right" geom_rpy="${caster_right_rpy}" joint_xyz="${caster_right_joint_xyz}" />
		<!-- Rear Wheels -->
			<xacro:rear_wheel suffix="left" geom_rpy="${wheel_left_rpy}" joint_xyz="${wheel_left_joint_xyz}" />
			<xacro:rear_wheel suffix="right" geom_rpy="${wheel_right_rpy}" joint_xyz="${wheel_right_joint_xyz}" />
		<!-- Diff Drive Plugin -->
			<xacro:wheelchair_diffdrive_gazebo _pubjoints="false"/>
	</model>
</sdf>
