<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sicklms200">
<xacro:include filename="$(find riserobotdb)/defs/common/common.urdf.xacro" />

<xacro:property name="sicklms200_sensor_xyz" value="0 0 0.063" />
<xacro:property name="sicklms200_sensor_rpy" value="0 0 0" />
<xacro:property name="sicklms200_laser_mesh" value="models/sensors/LaserScanners/sicklms200.dae" />

<xacro:macro name="sicklms200_laser" params="nameid parent *origin" >
    <!-- Parent Joint -->
	<joint name="sicklms200_laser_mount" type="fixed">
		<parent link="${parent}" />
		<child link="sicklms200_link_${nameid}" />
		<xacro:insert_block name="origin"/>
	</joint>
	<!-- LRF Link -->
	<xacro:urdf_link _name="sicklms200_link_${nameid}" _xyz="0 0 0.0925" _rpy="0 0 1.5708" 
	    _mesh="${sicklms200_laser_mesh}" _mass="4.5" _cg="0 0 0" 
	    _ixx="1.0" _iyy="1.0" _izz="1.0" _ixy="0" _ixz="0" _iyz="0" />
	<!-- Dummy link and joint for proper placement of sensor -->
	<xacro:urdf_link_null _name="sicklms200_sensor_${nameid}" />
	<!-- Joint Linking Sensor -->
	<xacro:urdf_fixed_joint _name="sicklms200_laser_sensor_${nameid}" _parent="sicklms200_link_${nameid}"
	        _child="sicklms200_sensor_${nameid}" _xyz="${sicklms200_sensor_xyz}" _rpy="${sicklms200_sensor_rpy}" />
</xacro:macro>

</robot>
